USE [master]
GO
/****** Objeto: Database [BancoDB] Fecha de script: 21/07/2026 21:32:07 ******/
CREATE DATABASE [BancoDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BancoDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BancoDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BancoDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BancoDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BancoDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BancoDB]
GO
/****** Objeto: Table [dbo].[banco] Fecha de script: 21/07/2026 21:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banco](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cliente] Fecha de script: 21/07/2026 21:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cliente](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[dni] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[ocupacion] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[codigocliente] [int] NOT NULL,
	[correo] [varchar](255) NULL,
	[estado] [bit] NOT NULL,
	[ingresos] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[cuenta] Fecha de script: 21/07/2026 21:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuenta](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigocuenta] [int] NOT NULL,
	[estado] [varchar](255) NULL,
	[fechadecreacion] [date] NULL,
	[saldo] [float] NOT NULL,
	[tipodecuenta] [varchar](255) NULL,
	[cliente_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[empleado] Fecha de script: 21/07/2026 21:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empleado](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[apellido] [varchar](255) NULL,
	[direccion] [varchar](255) NULL,
	[dni] [int] NOT NULL,
	[nombre] [varchar](255) NULL,
	[ocupacion] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[cargo] [varchar](255) NULL,
	[codigodeempleado] [int] NOT NULL,
	[salario] [float] NOT NULL,
	[banco_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[transaccion] Fecha de script: 21/07/2026 21:32:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaccion](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[codigodetransaccion] [int] NOT NULL,
	[fechadetransaccion] [date] NULL,
	[monto] [float] NOT NULL,
	[tipode_transaccion] [varchar](255) NULL,
	[cuenta_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cliente] ON 

INSERT [dbo].[cliente] ([id], [apellido], [direccion], [dni], [nombre], [ocupacion], [telefono], [codigocliente], [correo], [estado], [ingresos]) VALUES (1, N'asd', N'qsdaf', 123414, N'hoa', N'qdf', N'1243', 0, N'kad@', 1, 0)
INSERT [dbo].[cliente] ([id], [apellido], [direccion], [dni], [nombre], [ocupacion], [telefono], [codigocliente], [correo], [estado], [ingresos]) VALUES (2, N'afsaf', N'afsf', 1244, N'asfaf', N'aff', N'123', 0, N'@sfsf', 1, 0)
INSERT [dbo].[cliente] ([id], [apellido], [direccion], [dni], [nombre], [ocupacion], [telefono], [codigocliente], [correo], [estado], [ingresos]) VALUES (3, N'sdfg', N'adsf', 3453, N'aafaf', N'asdaf', N'124', 0, N'fca', 1, 0)
SET IDENTITY_INSERT [dbo].[cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[cuenta] ON 

INSERT [dbo].[cuenta] ([id], [codigocuenta], [estado], [fechadecreacion], [saldo], [tipodecuenta], [cliente_id]) VALUES (1, 1243536, N'ACTIVA', CAST(N'2026-07-20' AS Date), 150, N'CORRIENTE', 5)
SET IDENTITY_INSERT [dbo].[cuenta] OFF
GO
SET IDENTITY_INSERT [dbo].[empleado] ON 

INSERT [dbo].[empleado] ([id], [apellido], [direccion], [dni], [nombre], [ocupacion], [telefono], [cargo], [codigodeempleado], [salario], [banco_id]) VALUES (1, N'sadfsf', N'sgfsg', 2345, N'tgss', NULL, N'1234', N'adasd', 1234, 1200, NULL)
SET IDENTITY_INSERT [dbo].[empleado] OFF
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD  CONSTRAINT [FK4p224uogyy5hmxvn8fwa2jlug] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[cliente] ([id])
GO
ALTER TABLE [dbo].[cuenta] CHECK CONSTRAINT [FK4p224uogyy5hmxvn8fwa2jlug]
GO
ALTER TABLE [dbo].[empleado]  WITH CHECK ADD  CONSTRAINT [FK1y4p04wo6okcjssiopwm67gai] FOREIGN KEY([banco_id])
REFERENCES [dbo].[banco] ([id])
GO
ALTER TABLE [dbo].[empleado] CHECK CONSTRAINT [FK1y4p04wo6okcjssiopwm67gai]
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD  CONSTRAINT [FKkkale73n3p5vwbgxa49yiyqgx] FOREIGN KEY([cuenta_id])
REFERENCES [dbo].[cuenta] ([id])
GO
ALTER TABLE [dbo].[transaccion] CHECK CONSTRAINT [FKkkale73n3p5vwbgxa49yiyqgx]
GO
ALTER TABLE [dbo].[cuenta]  WITH CHECK ADD CHECK  (([tipodecuenta]='CORRIENTE' OR [tipodecuenta]='AHORRO'))
GO
ALTER TABLE [dbo].[transaccion]  WITH CHECK ADD CHECK  (([tipode_transaccion]='RETIRO' OR [tipode_transaccion]='DEPOSITO'))
GO
USE [master]
GO
